<ion-header>
    <ion-navbar>
        <ion-title>
            Party Calc (Enter the data of event)
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="event-data-container">
        <ion-item>
            <ion-label color="primary" floating>Title of event</ion-label>
            <ion-input class="event-title" [(ngModel)]="eventData.title"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary">Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="eventData.date"></ion-datetime>
        </ion-item>

        <div class="button-container">
            <button (click)="saveAndContinue()" [disabled]="!eventData.date || !eventData.title" class="app-button">Save and Continue</button>
            <button (click)="continue()" class="app-button">Skip</button>
        </div>
    </div>
</ion-content>