.event-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .event-title {
        input {
            text-align: right;
        }
    }

    .button-container {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        margin-top: 20px;
        .app-button:not(:last-child) {
            margin-right: 10px;
        }
    }
}