<ion-header>
    <ion-navbar>
        <ion-title>
            Party Calc (Enter list of contributors and their costs)
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="contributors-container">
        <div class="add-control">
            <ion-item>
                <ion-label color="primary" floating>Name of contributor</ion-label>
                <ion-input [(ngModel)]="newContributorName"></ion-input>
            </ion-item>
            <button (click)="createContributor()" [disabled]="!newContributorName" class="app-button continue-button">Add</button>
        </div>
        <div class="selected-contributors">
            <span class="app-caption">Selected contributors</span>
            <span class="divider"></span>

            <ion-card *ngFor="let cont of currentEvent.contributors">
                <ion-card-header>
                    <span class="cont-name">
                        {{cont.name}} ({{totalSpend(cont)}} RUB)
                    </span>
                    <button (click)="removeContributor(cont.id)" class="remove-icon cont-icon" ion-button icon-only>
                        <ion-icon name="trash"></ion-icon>
                    </button>
                    <button (click)="editContributor(cont.id)" *ngIf="!cont.products.length" class="remove-icon cont-icon" ion-button icon-only>
                        <ion-icon name="backspace"></ion-icon>
                    </button>
                    <button (click)="addCostsTo(cont.id)" class="cont-icon" ion-button icon-only>
                        <ion-icon name="add"></ion-icon>
                    </button>
                </ion-card-header>
                <ion-card-content *ngIf="cont.products.length">
                    <div class="cont-products">
                        <div class="cont-products-item" *ngFor="let prod of cont.products">
                            <div class="cont-products-item-data">
                                <span>{{prod.title}}</span>
                                <span>{{prod.cost}} RUB.</span>
                            </div>
                            <div class="cont-products-item-action">
                                <button (click)="removeProduct(cont.id, prod.id)" class="cont-icon" ion-button icon-only>
                                    <ion-icon name="close"></ion-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
            <p class="no-info" *ngIf="!currentEvent.contributors.length">No selected contributors</p>
            <button (click)="nextStep()" *ngIf="currentEvent.contributors.length" class="app-button continue-button">Continue</button>
        </div>
    </div>
</ion-content>