.add-control, .selected-contributors {
    display: flex;
    flex-direction: column;
}

.selected-contributors {
    .cont-name {
        margin-top: 8px;
        display: inline-block;
    }
    .cont-icon {
        float: right;
        width: 25px;
        height: 25px;
        border-radius: 100%;
    }
    .remove-icon {
        margin-left: 10px;     
    }
}

.cont-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    &-item {
        padding: 5px;
        background: #387ef5;
        border-radius: 4px;
        color: white;
        margin-right: 6px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;

        &-data {
            margin-right: 15px;
            display: flex;
            flex-direction: column;
        }

        &-action {
            justify-content: center;
            align-items: center;
            display: flex;
            
            .cont-icon {
                background: #fff;
                color: black;
                &:hover {
                    background: #ddd;
                }
            }
        }
    }
}