<ion-header>
  <ion-title>
    Party Calc
  </ion-title>
</ion-header>

<ion-content padding>
  <div class="home-container">
    <button (click)="start()" class="app-button">Start</button>
  </div>
</ion-content>