// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
* {
    font-size: 14px;
}

[icon-only] ion-icon {
    font-size: 14px;
}

.continue-button {
    float: right;
    align-self: flex-end;
    margin-top: 20px;
}

.continue-button, .app-button {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.divider {
    border-top: 1px solid #ddd;
}

.no-info {
    color: #bbb;
    font-style: italic;
}

.add-control {  margin-bottom: 24px; }

.margin-divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

ion-title {
    padding: 20px;
}