<ion-header>
    <ion-title>
        Summary
    </ion-title>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let res of result">
        <ion-card-header class="res-wr">
            <span class="res-item-dir">
                {{res.wireTitle}}
            </span>
            <span class="res-item-sum">
                {{+res.wireSum}} RUB.
            </span>
        </ion-card-header>
    </ion-card>
    <p class="no-info" *ngIf="!result.length">No results</p>

    <ion-card class="margin-divider"></ion-card>

    <ion-card *ngFor="let cont of contributors">
        <ion-card-header class="res-wr">
            <span class="res-item-dir">
                {{cont.name}}
            </span>
            <span class="res-item-sum">
                {{+cont.spend}} RUB.
            </span>
        </ion-card-header>
    </ion-card>

    <ion-card class="margin-divider"></ion-card>

    <ion-card *ngFor="let prod of products">
        <ion-card-header class="res-wr">
            <span class="res-item-dir">
                {{prod.title}}
            </span>
            <span class="res-item-sum">
                {{+prod.cost}} RUB.
            </span>
        </ion-card-header>
    </ion-card>

    <button (click)="close()" class="app-button continue-button">Close</button>
</ion-content>