<ion-header>
    <ion-toolbar>
        <ion-title>
            Select contributors
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss(false)">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="contributors-container">
        <ion-card *ngFor="let cont of allContributors">
            <ion-card-header class="selectable" [class.selected]="cont.selected" (click)="cont.selected=!cont.selected">
                <span class="cont-name">
                    {{cont.name}}
                </span>
            </ion-card-header>
        </ion-card>
        <p class="no-info" *ngIf="!allContributors.length">No contributors</p>
        <button (click)="dismiss(true)" *ngIf="allContributors.length" class="app-button continue-button">Save</button>
    </div>
</ion-content>