.products-container {
    flex-direction: column;
    .prod-name {
        margin-top: 8px;
        display: inline-block;
    }
    .prod-icon {
        float: right;
        width: 25px;
        height: 25px;
        border-radius: 100%;
    }
    .remove-icon {
        margin-left: 10px;     
    }
}

.cont-item {
    padding: 5px;
    background: #387ef5;
    border-radius: 6px;
    color: white;
    margin-right: 6px;
    justify-content: center;
    align-items: center;
    .cont-name {
        margin-right: 10px;
    }
    .cont-icon {
        background: #fff;
        color: black;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        &:hover {
            background: #ddd;
        }
    }

    display: flex;
    flex-direction: row;

    &-container {
        display: flex;
        flex-direction: row;
    }
}