<ion-header>
    <ion-navbar>
        <ion-title>
            Party Calc (Select contributors)
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="products-container">
        <ion-card *ngFor="let prod of products">
            <ion-card-header>
                <span class="prod-name">
                    {{prod.title}} ({{prod.cost}} RUB)
                </span>
                <button (click)="addContributorTo(prod)" class="prod-icon" ion-button icon-only>
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-card-header>
            <ion-card-content class="cont-item-container" *ngIf="prod.contributors.length">
                <span class="cont-item" *ngFor="let cont of prod.contributors">
                    <span class="cont-name">{{cont.name}}</span>
                    <button (click)="removeContributor(prod, cont)" class="cont-icon" ion-button icon-only>
                        <ion-icon name="close"></ion-icon>
                    </button>
                </span>
            </ion-card-content>
        </ion-card>
        <p class="no-info" *ngIf="!products.length">No products</p>
        <button (click)="getResult()" *ngIf="everyProductHasContributors()" class="app-button continue-button">Continue</button>
    </div>
</ion-content>