.add-prod-control, .selected-products {
    display: flex;
}

.add-prod-control {
    flex-direction: row;
    .title { 
        width: 70%;
    }
    .cost {
        width: 30%;
    }
}

.selected-products {
    flex-direction: column;
    .prod-name {
        margin-top: 8px;
        display: inline-block;
    }
    .prod-icon {
        float: right;
        width: 25px;
        height: 25px;
        border-radius: 100%;
    }
    .remove-icon {
        margin-left: 10px;     
    }
}