<ion-header>
    <ion-toolbar>
        <ion-title>
            Add costs
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss(false)">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="products-container">
        <div class="add-control">
            <div class="add-prod-control">
                <ion-item class="title">
                    <ion-label color="primary" floating>Title of product</ion-label>
                    <ion-input [(ngModel)]="newProductTitle"></ion-input>
                </ion-item>
                <ion-item class="cost">
                    <ion-label color="primary" floating>Cost</ion-label>
                    <ion-input type="number" [(ngModel)]="newProductPrice"></ion-input>
                </ion-item>
            </div>
            <button (click)="createProduct()" [disabled]="!newProductTitle || !newProductPrice" class="app-button continue-button">Add</button>
        </div>
        <div class="selected-products">
            <span class="app-caption">Selected products</span>
            <span class="divider"></span>

            <ion-card *ngFor="let prod of contributor.products">
                <ion-card-header>
                    <span class="prod-name">
                        {{prod.title}}
                    </span>
                    <button (click)="removeProduct(prod.id)" class="remove-icon prod-icon" ion-button icon-only>
                        <ion-icon name="trash"></ion-icon>
                    </button>
                    <button (click)="editProduct(prod.id)" class="prod-icon" ion-button icon-only>
                        <ion-icon name="backspace"></ion-icon>
                    </button>
                </ion-card-header>
                <ion-card-content>
                    {{prod.cost}} RUB.
                </ion-card-content>
            </ion-card>
            <p class="no-info" *ngIf="!contributor.products.length">No selected products</p>
            <button (click)="dismiss(true)" *ngIf="contributor.products.length" class="app-button continue-button">Save</button>
        </div>
    </div>
</ion-content>